
<h2>Records</h2>
<button type="button" class="btn btn-outline-success" (click)="navigateToReport()" style="margin-right: 1rem;">Report Page</button>
<button type="button" class="btn btn-outline-success" (click)="addRecord()">+ Add Record</button>
<div class="row" *ngIf="records !== undefined">
     <app-record
     *ngFor="let recordObj of records | slice:0:7" 
     [record]="recordObj"
     (recordEmitter)="editRecord($event)"
     (commentEmitter)="editComment($event)"
     ></app-record
     >
</div>