
<div class="card" style="width: 20rem; margin: 1.5rem;">
    <div class="card-body">
        <span class="font-weight-bold">Blood Sugar Level: </span>
            <button type="button" class="btn btn-outline-dark" (click)="editRecord()">Edit Record</button>
            <span class="text-monospace"><h4>{{record.value}}</h4></span>
        <span class="card-text">
            <span class="font-weight-bold">Comment: </span>
            <button type="button" class="btn btn-outline-dark" (click)="editComment()">Edit Comment</button>
        </span>
        <p class="text-muted">{{record.comment.text}}</p>
        <span class="font-weight-bold"> Entry Date:</span> <span class="text-monospace"> {{record.date | date:'short'}}</span>
    </div>
</div>