<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class = 'container-fluid'>
  <router-outlet></router-outlet>
</div>

<!-- <div class = 'container-fluid'>
  <div *ngIf="loggedInUser === null; else elseBlock">
    <app-login
      (submitEmitter)="handleSubmit($event)"
    ></app-login>
  </div>
  <ng-template #elseBlock>
    <div *ngIf="loggedInUser.message; else recordBlock">
      <app-login
        (submitEmitter)="handleSubmit($event)"
      >
      </app-login>
      {{loggedInUser.message}}
    </div>

    <ng-template #recordBlock>
      User: 
      {{loggedInUser.username | titlecase }}
      <div *ngFor="let record of loggedInUser.sugar_records">
      Blood Sugar Value: {{record.value}} ,  Date: {{record.date | date}}
      </div>
    </ng-template>
  </ng-template>
</div> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


